body {
    background-color: #48494D;
}

.page_frame {
    height: 100%;
    background-color: #3E3D42;
}

.header {
    height: 68;
    background-color: #3E3D42;
    color:  white;
    font-size: 5em;
}

.news_post {
    padding-bottom: 10px;
    margin-left: 1em;
}

.post_title {
    padding-left: 5px;
    color: white;
    font-size: 2em;
}

.post_body {
    padding-left: 5px;
    color: white;
}

.nav_panel {
    background-color: #85B931;
    color:  black;
    font-size: 2em;
    margin-bottom: 1em;
}

.nav_item {
    background-color: #85B931;
    padding-left: 5px;
    font-size: 2em;
    margin-right: 1em;
}
.active_nav_item {
    background-color: #85B931;
    color: white;
    padding-left: 5px;
    font-size: 2em;
}
.top_rounded {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.bottom_rounded {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
