body {
    background-color: #48494D;
}

a {
    color: #85B931;
    text-decoration: none;
}

.header_links {
    color: white;
    text-decoration: none;
}

.page_frame {
    height: 100%;
    background-color: #3E3D42;
}

.header {
    height: 68;
    background-color: #3E3D42;
    color:  white;
    font-size: 5em;
}

.left_offset {
    padding-left: 15px;
}
.header_links {
    color: black;
}

.news_post {
    margin-bottom: 20px;
    border-top: solid 3px;
    border-top-color: #85B931;
}

.post_title {
    padding-left: 5px;
    color: white;
    background: #3E3D42;
    font-size: 24px;
}

.post_body {
    padding: 5px;
    color: white;
    background: #3E3D42;
    font-size: 14px;
}

.nav_panel {
    background-color: #85B931;
    color:  black;
    font-size: 2em;
    margin-bottom: 1em;
}

.side_panel {
    background-color: #333333;
    width: 205px;
    color: white;
    font-size: 22px;
}

.side_panel_title {
    padding-left: 8px;
}

.nav_item {
    background-color: #85B931;
    padding: 6px 8px;
    font-size: 16px;
    margin-bottom: 3px;
}

.nav_item a{
    color:white;
}

.active_nav_item {
    background-color: #85B931;
    color: white;
    padding-left: 5px;
    font-size: 2em;
}
.top_rounded {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.bottom_rounded {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
