body {
    background-color: #48494D;
}

a {
    color: #85B931;
    text-decoration: none;
}

p {
    margin: 0px 0px 0.75em;
}

div.header_links {
    color: white;
    text-decoration: none;
}

div.page_frame {
    height: 100%;
    background-color: #3E3D42;
}

div.header {
    height: 84px;
    background-color: #3E3D42;
    color:  white;
    font-size: 5em;
}

div.main_content > div {
  padding-left: 15px;
} 

ul.menu {
  padding-left: 15px;
  margin-bottom: 3px;
}

ul.menu li {
  display: inline;
  list-style: none;

  border-right: 1px solid black;
  padding: 0 6px 0 0;
}

ul.menu li a { color:black; }

.news_post {
    margin-bottom: 20px;
    border-top: solid 3px;
    border-top-color: #85B931;
}

.post_title {
    padding-left: 5px;
    color: white;
    background: #3E3D42;
    font-size: 24px;
}

.post_body {
    padding: 5px;
    color: white;
    background: #3E3D42;
    font-size: 14px;
}

div.nav_panel {
    background-color: #85B931;
    color:  black;
    font-size: 2em;
    margin-bottom: 1em;
}

div.side_panel {
    background-color: #333333;
    width: 205px;
    color: white;
    font-size: 22px;
}

div.side_panel h4 {
    padding-left: 8px;
    color: white;
    font-size: 120%;
    margin-bottom: 10px;
}

ul.side_nav {
  padding-left: 0;
  padding-bottom: 3px;
  margin: 0;
  list-style: none;

}

ul.side_nav li {
  background-color: #85B931;
  padding: 6px 8px;
  font-size: 16px;
  margin-bottom: 3px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

ul.side_nav li a {
    color:white;
}

.active_nav_item {
    background-color: #85B931;
    color: white;
    padding-left: 5px;
    font-size: 2em;
}
.top_rounded {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.bottom_rounded {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
