<% for song in @songs %>
  <div class="news_post">
    <div class="post_title top_rounded">
      <%=h song.name %>
    </div>
    <div class="post_body bottom_rounded">
      <%= song.url %>
    </div>
  </div>
<% end %>
