<h2>Music</h2>

<ul id='post-list'>
  <% @songs.each do |song| %>
    <li>
      <h3><%= link_to song.name, song %></h3>
      <div class='body'><%= raw song.embed %></h3>
    </li>
  <% end %>
</ul>
