<div class="post_body">
    A collection of our current demos
</div>

<% for song in @songs %>
  <div class="news_post">
    <div class="post_title">
      <%=h song.name %>
    </div>
    <div class="post_body">
      <%= song.url %>
    </div>
  </div>
<% end %>
