<div class="news_post">
  <div class="post_title">
    About Barcode Channel
  </div>
  <div class="post_body">
    <p>
      Barcode Channel are a post-punk three-piece from Cambridge, who write songs around angular guitar lines and programmed beats. While primarily inspired by artists such as  Radiohead, Bloc Party, Foals, Interpol and mclusky, the band draws inspiration from a wide range of genres, resulting in a diverse and unpredictable sound.
    </p>
    <p>
      The band have a strong DIY ethic and released their bedroom-recorded debut E.P. <%= link_to "A Ticket Out", "http://barcodechannel.bandcamp.com"  %> in December 2010
    </p>
  </div>
  <div class="post_title">
    Links
  </div>
  <div class="post_body">
    <p>
    <ul>
      <li><a href="http://www.facebook.com/pages/Barcode-Channel/126967277330061">Facebook</a></li>
      <li><a href="http://barcodechannel.bandcamp.com">Bandcamp</a></li>
      <li><a href="http://soundcloud.com/barcode-channel">SoundCloud</a></li>
      <li><a href="http://myspace.com/barcodechannel">Myspace</a></li>
      <li><a href="http://last.fm/music/Barcode+Channel">Barcode Channel on Last FM</a></li>
    </ul>
    </p>
  </div>
  <div class="post_title">
    Contact
  </div>
  <div class="post_body">
    If you'd like to get in contact with us, you can email us at: <br/>
    <%= link_to 'barcodechannel@gmail.com', 'mailto:barcodechannel@gmail.com' %>
  </div>
</div>
