<div class="news_post">
  <div class="post_title">
    <h2>About Us</h2>
  </div>
  <div class="post_body">
    <p>
      We are Barcode Channel. We write songs around angular guitar lines and programmed beats, drawing influence from artists such as Radiohead, Foals, Bloc Party and Interpol.
    </p>
    <p>
      Some things that make us who we are:
    </p>

    <div class="inset">
      <h4>We play guitars</h4>
      <p>
        Having spent our  teenage years in the midst of the early 00s post punk revival, we have an attachment to angular guitar noise. Much has been written recently about the death of guitar music. However, unlike the current crop of bands attempting to revive 'rock', we don't believe the answer lies in looking backwards.
      </p>

      <h4>We are wilfully stylistically diverse</h4>
      <p>
        Initially we were a band frustrated by our inability to produce songs which conform to a given style, but have over time learned to embrace this. 'Shuffle' culture has risen and the Internet has exposed fans to a wider range of music. Our songs sound different and we use this to create greater contrast and dynamics in our setlists and recordings
      </p>

      <h4>We don't have a drummer</h4>
      <p>
        We started rehearsing without a drummer due to being unable to find one in Cambridge. However, working with a laptop afforded us extra flexibility to experiment with electronic drums and instrument overdubs. This has become an important part of how we create.
      </p>

      <h4>We like to do it ourselves</h4>
      <p>Working without a drummer allows us to practice and write in bedrooms, sealed away  in headphones; no amps, everything pumped through a laptop. Our debut E.P. was entirely recorded and produced by us, learning our way around our equipment and the process as we went. Where possible, we create everything ourselves, from our website to our album artwork.</p>
    </div>

    <p>Our debut E.P. '<%= link_to "A Ticket Out", "http://barcodechannel.bandcamp.com" %>' was released through <%= link_to "BandCamp", "http://barcodechannel.bandcamp.com" %> in December last year, and is now also available from iTunes etc. We're currently writing more songs for a second E.P. and gigging.</p>

  </div>
  <div class="post_title">
    <h2>Links</h2>
  </div>
  <div class="post_body">
    <p>
      <ul>
        <li><a href="http://www.facebook.com/pages/Barcode-Channel/126967277330061">Facebook</a></li>
        <li><a href="http://barcodechannel.bandcamp.com">Bandcamp</a></li>
        <li><a href="http://soundcloud.com/barcode-channel">SoundCloud</a></li>
        <li><a href="http://myspace.com/barcodechannel">Myspace</a></li>
        <li><a href="http://last.fm/music/Barcode+Channel">Barcode Channel on Last FM</a></li>
      </ul>
    </p>
  </div>
  <div class="post_title">
    <h2>Contact</h2>
  </div>
  <div class="post_body">
    If you'd like to get in contact with us, you can email us at: <br/>
    <%= link_to 'barcodechannel@gmail.com', 'mailto:barcodechannel@gmail.com' %>
  </div>
</div>
