<div class="news_post">
  <div class="post_title">
    About Barcode Channel
  </div>
  <div class="post_body">
    <p>
      Barcode channel are a alternative rock band from Cambridge. The band consists of James Cox (vocals, guitar, programming),
      Mike Nicoll (bass, vocals) and Rob Mathers (guitar, drum machines, backing vocals). Barcode Channel play post punk, angular
      guitar driven songs.
    </p>
    <p>
      While primarily inspired by artists such as Bloc Party, Radiohead, Interpol and mclusky, the band
      draws inspiration from a wide range of genres.
    </p>
    <p>
      The band are currently writing and recording in a makeshift home studio, and plan to start gigging soon.
    </p>
  </div>
  <div class="post_title">
    Links
  </div>
  <div class="post_body">
    <p>
    <ul>
      <li><a href="http://myspace.com/barcodechannel">Barcode Channel on Myspace</a></li>
      <li><a href="http://last.fm/music/Barcode+Channel">Barcode Channel on Last FM</a></li>
    </ul>
    </p>
  </div>
</div>
