<div class="news_post">
  <div class="post_title">
    Images
  </div>
  <div class="post_body">
    <p>
      <table>
        <tr>
          <td>
            <%= image_tag "band/Mike-Green-Small.JPG", :size => "400x225" %>
            <br />
            <br />
            <br />
            <%= image_tag "band/James-Green-Small.JPG", :size => "400x225" %>
          </td>
          <td>
            <%= image_tag "band/Rob-Green-Small.JPG", :size => "225x400" %>
          </td>
        </tr>
      </table>
      More images to come....
    </p>
  </div>
</div>