<div class="news_post">
  <div class="post_title">
    <h2>Image Channel</h2>
  </div>
  <div class="post_body">
    <ul id="photo_list">
      <% @photos.each do |photo| %>
        <%= link_to raw("<li><div class='photo'>#{image_tag(photo.image_url(:thumb).to_s)}</div></li>"), photo %>
      <% end %>
    </ul>
  </div>

  <br />

  <%= link_to 'New photo', new_photo_path %>
</div>

