<h1>Image Channel</h1>

<% @photos.each do |photo| %>
  <div class="photo">
    <a href='<%= photo.url %>'><%= image_tag photo.thumbnail_url %></a>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New photo', new_photo_path %>
