  <% for post in @posts %>
	<hr>
	<div class="post_title">
      <h2><%=h post.title %></h2>
    </div>
    <div class="post_body">
      <%=h post.body %>
      <%= link_to "Destroy beeeaattcch", post, :confirm => 'Are you sure?', :method => :delete %>
    </div>
      
  <% end %>

<p><%= link_to "New Post", new_post_path %></p>
