<section class='welcome shadowed'>
  <h2>Hi there</h2>
  <p>We are <b>Barcode Channel</b>, a DIY band who fuse post-punk guitars with electronic beats.</p>
  <p>We could say we sound a bit like Radiohead, Foals and Bloc Party but why not make up your own mind on our  <%= link_to "Listen", songs_path %> page?</p>
</section>

<h1>News</h1>

<table>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= raw post.body %></td>
  </tr>
<% end %>
</table>

<br />
