<h2>News</h2>

<ul id='post-list'>
  <% @posts.each do |post| %>
    <li>
      <h3><%= link_to post.title, post %></h3>
      <div class='body'><%= raw post.body %></div>
    </li>
  <% end %>
</ul>
