
<% if can? :new, Post %>
    <%= link_to "Add a new newpost", new_post_path %>
<% end %>
    <div class="news_post">
        <div class="post_title ">
          <%= @post.title %>
          <% if can? :edit, @post %>
              <%= link_to "|Edit|", edit_post_path(@post) %>
          <% end %>
        </div>
        <div class="post_body ">
          <%= @post.body.html_safe %>
        </div>
    </div>
