$bc-green: #85B931;
$dark_grey: #3E3D42;
$darkest_grey: #333;
$light_grey: #48494D;
$text_light: #EEEEEE;
$dark_text: #333;
$red_link: #C84335;
$redder_link: #E47266;
$link_color: #FF8100;

body {
  background-color: $light_grey;
}

.shadowed {
  -webkit-box-shadow: 3px 3px 15px #333;
  -moz-box-shadow: 3px 3px 15px #333;
  box-shadow: 3px 3px 15px #333;
}

#header-name {
  border-width: 5px 0;
  border-style: solid;
  border-color: $bc-green;
  color: white;
  font-size:58px;
  line-height:58px;
  margin-bottom:15px;
}

#mission {
  color:white;
  font-style:italic
}

#main-content {
  color:white;
}

footer {
  background-color: $bc-green;
  padding: 10px;
  color:white;

  ul#ext-links {
    margin-left: 0;
    a li {
      color:white;
      list-style:none;

      font-size:18px;
      line-height: 22px;

      overflow:hidden;
    }
    span {
      padding: 5px;

      float:left;
      width: 200px;
      height: 22px;
    }
    span.logo {
      width: 24px;

      img {
        position:relative;
        top: -1px;
      }
    }

  }
}

#main-content {
  > h2 {
    border-bottom: 1px solid
  }
}
