<html>
  <head>
	<title>
		Barcode Channel
	</title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<%= stylesheet_link_tag 'global' %>
  </head>
  <body class="container">
	<div class="span-24 last page_frame">
            <div class="span-22 prepend-1 append-1 last header">
                BARCODE CHANNEL
            </div>
            <div class="span-17 prepend-1 append-1">
                <%= yield %>
            </div>
            <div class="span-4 append-1 last">
                <div class="navigation_item">
                  Home
                </div>
                <div class="navigation_item">
                  Listen
                </div>
                <div class="navigation_item">
                  Download
                </div>
                <div class="navigation_item">
                  Gallery
                </div>
            </div>
	</div>
  </body>
</html>
