<html>
  <head>
	<title>
		Barcode Channel
	</title>
	<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<%= stylesheet_link_tag 'global' %>
  </head>
  <body>
	<h1>Welcome to you're home for "barcode channel's"  informations home on dah internetz</h1>
  	<%= yield %>
  </body>
</html>